.container img {
  padding: 50px 5%;
  margin: 0 auto;
}

.intro-container {
  font-family: lato, sans-serif;
  font-style: normal;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro-container h1 {
  font-weight: 500;
  font-size: 4rem;
  color: #333E6B;
  float: right;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
}

.intro-container p {
  font-weight: 300;
  font-size: 1.2rem;
  color: #333E6B;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%
}

.btn1 {
  padding: 8px 12px;
  color: white;
  background-color: #333E6B;
  opacity: 1;
  display: inline-block;
  border-radius: 16px;
}

.btn1:hover {
  opacity: 0.8;
  color: white;
}

.btn1:link {
  text-decoration: none;
}

.ux {
  margin-right: 10px;
}

.photography {
  margin-right: 10px;
}

.btn2 {
  color: #333E6B;
}

.btn2:hover {
  opacity: 0.5;
}

.email {
  margin-right: 10px;
}

.linkedin {
  margin-right: 10px;
}

.instagram {
  margin-right: 10px;
}

.facebook {
  margin-right: 10px;
}
