.title-container {
  width: 90%
}

.title-container img {
  width: 40%;
  padding-top: 50px;
  margin: 0 auto;
  padding-left: 5%;
}

.intro-container {
  font-family: lato, sans-serif;
  font-style: normal;
  float: right;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.intro-container h1 {
  font-weight: 500;
  font-size: 70px;
  color: #333E6B;
  float: right;
  width: 100%;
  padding-bottom: 10px;
}

.intro-container p {
  font-weight: 300;
  font-size: 20px;
  color: #333E6B;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn1 {
  padding: 8px 12px;
  color: white;
  background-color: #333E6B;
  opacity: 1;
  display: inline-block;
  border-radius: 16px;
}

.btn1:hover {
  opacity: 0.8;
}

.btn1:link {
  text-decoration: none;
}

.ux {
  margin-right: 10px;
}

.photography {
  margin-right: 10px;
}

.btn2 {
  color: #333E6B;
}

.btn2:hover {
  opacity: 0.5;
}

.email {
  margin-right: 10px;
}

.linkedin {
  margin-right: 10px;
}

.instagram {
  margin-right: 10px;
}

.facebook {
  margin-right: 10px;
}
