body {
  font-family: lato, sans-serif;
  font-style: normal;
  background: #fff;
  color: #333E6B;
  padding: 50px 0;
}

.container {
  max-width: 700px;
}

.container h1 {
  text-align: center;
  font-family: lato, sans-serif;
  font-style: normal;
  color: #333E6B;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 40px;
}

.row {
  font-size: 1rem;
}

.container input,
.container textarea {
  margin-bottom: 5%;
}

.container label,
.container input,
.container textarea {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.container input,
.container textarea {
  border: 1.5px solid #333E6B;
  border-radius: 4px;
}

.container input[type=text]:focus,
.container textarea[type=text]:focus {
  border: 1.5px solid #333E6B;
}

.container button {
  float: right;
  margin-right: 5%;
  margin-left: auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  background: #333E6B;
  color: white;
  border-radius: 4px;
}

.container button:hover {
  opacity: 0.8;
}

.thankyou {
  padding-top: 20px;
  text-align: center;
}


/*

body {
  font-family: lato, sans-serif;
  font-style: normal;
  background: #fff;
  color: #333E6B;
  padding: 50px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.container h1 {
  text-align: center;
  font-family: lato, sans-serif;
  font-style: normal;
  color: #333E6B;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 30px;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label {
  padding: 8px;
  font-weight: 400;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li a {
  color: red;
  font-size: 1rem;
}

.flex-outer li label {
  font-size: 1rem;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 15px;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: 2px solid #333E6B;
  border-radius: 4px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  background: #333E6B;
  color: white;
  border-radius: 4px;
}

.flex-outer li button:hover {
  opacity: 0.8;
}

.thankyou {
  padding-top: 20px;
  text-align: center;
}

*/
